@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300;1,400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans";
  font-size: 15px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #2a2431;
}
.header {
  background: rgb(42, 36, 49);
  background: linear-gradient(
    0deg,
    rgba(42, 36, 49, 1) 22%,
    rgba(219, 40, 40, 1) 73%
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 5px 10%;
  width: 100%;
}
.logo-container .logo {
  height: 80px;
  width: auto;
  transition: all 0.4s;
}
.logo-container .logo:hover {
  transform: scale(1.2);
}
.header .nav-links {
  list-style: none;
}
.header .nav-links li {
  display: inline-block;
  padding: 0 20px;
}
.header .nav-links a {
  font-size: 900;
  color: #2b0101;
  text-decoration: none;
  font-weight: 800;
}
.header .nav-links li:hover {
  transform: scale(1.1);
  transition: all 0.4s;
}
.header .nav-links li a:hover {
  color: #eddec4;
}
main {
  background: #2a2431;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  width: 100%;
  flex-wrap: wrap;
  min-width: 250px;
}

#hero {
  margin-top: 40px;
  padding: 30px 0;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.hero-info h1 {
  font-size: 48px;
  width: 100%;

  font-weight: 800;
  color: ghostwhite;
  text-align: center;
  word-wrap: break-word;
}

.hero-info p {
  font-size: 17px;
  width: 100%;
  color: ghostwhite;
  text-align: center;
}

.hero-info p > span {
  font-weight: 800;
  color: #846802;
}

.hero-card {
  width: 50%;
  padding: 20px;
  margin: 0 17.5px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(111, 35, 35);
  background: linear-gradient(
    198deg,
    rgba(111, 35, 35, 1) 22%,
    rgba(211, 40, 40, 1) 72%
  );
  flex-wrap: wrap;
}

.hero-card img {
  border-radius: 5%;
  flex-wrap: wrap;
  width: 100%;
}

.esrb-rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 30px;
  padding: 10px;
  align-items: center;
  width: 100%;
}

.esrb-rating a {
  text-decoration: none;
  color: #281523;
  text-align: justify;
  font-weight: 600;
}

.esrb-rating img {
  border-radius: 0%;
  margin-right: 10px;
  flex-wrap: wrap;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.btn-container a {
  background-color: white;
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
}

.btn-container a:nth-of-type(1) {
  background: rgb(111, 35, 35);
  background: linear-gradient(
    15deg,
    rgba(111, 35, 35, 1) 22%,
    rgba(211, 40, 40, 1) 72%
  );
  font-weight: 600;
  color: #281523;
}

.btn-container a:nth-of-type(2) {
  background: rgb(111, 35, 35);
  background: linear-gradient(
    198deg,
    rgba(111, 35, 35, 1) 22%,
    rgba(211, 40, 40, 1) 72%
  );
  font-weight: 600;
  color: #281523;
}

#characters-cards {
  color: aliceblue;
  display: flex;
  flex-direction: column;
  background-color: background rgb(42, 36, 49);
  background: linear-gradient(
    0deg,
    rgba(42, 36, 49, 1) 0%,
    rgba(164, 12, 12, 1) 50%,
    rgba(42, 36, 49, 1) 100%
  );
}

h2 {
  font-size: 50px;
  justify-content: center;
  text-align: center;
  margin: 20px;
}
.card-container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  position: relative;
  width: 470px;
  height: 350px;
  margin: 20px;
}

.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
  transition: 1.5s;
}

.card .front {
  perspective: (600px) rotateY(0deg);
  box-shadow: 0 5px 8px #281523;
}

.card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .back {
  transform: perspective(600px) rotateY(180deg);
  background: #0c090f;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.card .back h3 {
  font-size: 20px;
  margin-top: 20px;
  letter-spacing: 2px;
}

.card .back p {
  letter-spacing: 1px;
  margin-bottom: 50px;
}

.card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}

#trailer-gameplay {
  display: flex;
  margin: 30px;
}

.titulo-trailer h2 {
  color: aliceblue;
  margin-top: 30px;
  margin-bottom: 30px;
}

.trailer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}

#about-us-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 100px;
}

.about-us p {
  text-align: center;
  font-size: 14px;
}

.about-us h2 {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

footer {
  width: 100%;
  background: rgb(42, 36, 49);
  background: linear-gradient(
    180deg,
    rgba(42, 36, 49, 1) 0%,
    rgba(161, 11, 11, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.box-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-footer {
  display: flex;
}

.social-media img {
  width: 35px;
  height: auto;
}
.social-media img:hover {
  transform: scale(1.1);
  transition: all 0.4s;
}

.logo-footer img {
  width: 400px;
}

.logo-footer img:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

@media (max-width: 1200px) {
  .hero-card {
    width: 40%;
  }
}

@media (max-width: 992px) {
  #hero {
    flex-wrap: wrap;
  }
  .hero-card {
    margin: 3%;
  }
}

@media (max-width: 776px) {
  #hero {
    flex-direction: column;
  }
  .hero-card {
    flex-direction: column;
  }
  .btn-container {
    flex-direction: column;
  }
  .btn-container a {
    margin: 2%;
  }
  .esrb-rating img {
    width: 150%;
    margin: 2%;
  }
  .esrb-rating a {
    margin: 2%;
  }
}

@media (max-width: 576px) {
  .hero-info,
  .hero-card {
    width: 100%;
  }
  .hero-card {
    width: 80%;
  }
}
